<script setup lang="ts">
import {Attraction} from "../models/attraction.ts";
import AttractionService from "../services/attractionService.ts";
import {computed, inject, ref} from "vue";
import attractionService from "../services/attractionService.ts";

let authenticatedUser = inject('authenticatedUser');

let attractions = ref(await AttractionService.getAttractions());

const columns = ref(["Nom", "Statut", "Actions"]);
const columnsAttributes = ref(["name", "isOpenedDisplay", undefined]);

let newAttractionName = ref("");
let newAttractionStatus = ref("Ouverte");

let displayToast = ref(false);

let searchQuery = ref("")
let sortAttribute = ref("name");
let sortOrder = ref(1);

const filteredAttractions = computed(() => {
  return attractions.value
      .filter((attraction) => {
        return attraction.name.toLowerCase().includes(searchQuery.value.toLowerCase())
            || attraction.isOpenedDisplay?.toLowerCase().includes(searchQuery.value.toLowerCase());
      })
      .sort((a, b) => {
        if (a[sortAttribute.value] < b[sortAttribute.value]) return -1 * sortOrder.value;
        if (a[sortAttribute.value] > b[sortAttribute.value]) return 1 * sortOrder.value;
        return 0;
      });

});

function setSort(attributeName: string | undefined) {
  if (attributeName !== undefined) {
    if (sortAttribute.value !== attributeName) {
      sortAttribute.value = attributeName;
    } else {
      sortOrder.value = sortOrder.value * -1;

    }
  }
}

function setSortIcon(attributeName: string) {
  switch (sortAttribute.value) {
    case attributeName:
      return sortOrder.value === 1 ? "expand_more" : "expand_less"
    default:
      return "";
  }
}

const setButtonIcon = (attraction: Attraction) => {
  return attraction.isOpened ? "lock" : "lock_open";
};

const changeAttractionStatus = async (attraction: Attraction) => {
  attraction.isOpened = !attraction.isOpened;
  let editedAttraction = await attractionService.editAttraction(attraction);
  attractions.value = attractions.value.map(a => a.id === editedAttraction.id ? editedAttraction : a);
};

const createAttraction = async () => {
  let newAttractionIsOpened = newAttractionStatus.value === 'Ouverte';
  let attraction = new Attraction(newAttractionName.value, newAttractionIsOpened);
  const newAttraction = await attractionService.createAttraction(attraction);
  newAttraction.isOpenedDisplay = attraction.isOpened ? "Ouverte" : "Fermée";
  attractions.value.push(newAttraction);
  newAttractionName = ref("");
  newAttractionStatus = ref("Ouverte");
  displayToast.value = true;
  setTimeout(() => {
    displayToast.value = false;
  }, 3000);
};

const deleteAttraction = async (attraction: Attraction) => {
  if (confirm("Souhaitez-vous réellement supprimer l'attraction " + attraction.name + " ?")) {
    await attractionService.deleteAttraction(attraction);
    attractions.value = attractions.value.filter(a => a.id !== attraction.id)
  }
};
</script>

<template>

  <div class="flex justify-between items-center w-full">
    <div class="boxStart"></div>
    <h1>Attractions</h1>
    <div class="boxEnd">
      <button v-if="authenticatedUser.role === 'DIRECTOR'" class="btn btn-accent btn-circle"
              onclick="createAttractionModal.showModal()">
          <span class="material-symbols-outlined">
            add
          </span>
      </button>
      <dialog id="createAttractionModal" class="modal">
        <form method="dialog" class="modal-box">
          <div class="flex flex-col gap-10"><h1>Créer attraction</h1>
            <input v-model="newAttractionName" type="text" placeholder="Nom"
                   class="input input-bordered input-neutral input-lg"/>
            <select v-model="newAttractionStatus" class="select select-neutral select-lg">
              <option selected>Ouverte</option>
              <option>Fermée</option>
            </select>
            <button class="btn btn-neutral" :disabled="newAttractionName===''" @click="createAttraction()">Créer
            </button>
          </div>
        </form>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </div>
  </div>
  <div :class="{'opacity-0': !displayToast, 'hidden': !displayToast}"
       class="toast toast-top animatedToast mr-3 flex justify-center items-center">
    <div class="alert alert-success flex gap-2 justify-evenly items-center">
      <span class="material-symbols-outlined">done</span>
      <span>Attraction créée</span>
    </div>
  </div>
  <input v-model="searchQuery" type="text" placeholder="Rechercher"
         class="input input-bordered input-accent input-sm w-full max-w-xs"/>
  <div class="overflow-x-auto w-1/2">
    <table class="table table-zebra table-lg table-pin-rows justify-center ">
      <!-- head -->
      <thead>
      <tr>
        <th @click="setSort(columnsAttributes[index])"
            :class="{'cursor-pointer' : columnsAttributes[index] !== undefined}" v-for="(col, index) of columns">
          {{ col }}
          <span class="align-middle"><span class="material-symbols-outlined">
            {{ setSortIcon(columnsAttributes[index]) }}
          </span></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(attraction, index) of filteredAttractions">
        <td>{{ attraction.name }}</td>
        <td>{{ attraction.isOpenedDisplay }}</td>
        <td>
          <div class="flex gap-3">
            <button class="btn btn-neutral btn-circle" :disabled="authenticatedUser.role === 'EMPLOYEE'"
                    @click="changeAttractionStatus(attraction)">
              <span class="material-symbols-outlined">{{ setButtonIcon(attraction) }}</span>
            </button>
            <button class="btn btn-secondary btn-circle" :disabled="authenticatedUser.role !== 'DIRECTOR'"
                    @click="deleteAttraction(attraction)">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>
</style>