<script setup lang="ts">
import {ref, onMounted, Ref, watch, toRaw} from "vue";
import DailyStatsService from "../services/dailyStatsService.ts";
import {Gauge} from "../models/gauge.ts";
import GaugeService from "../services/gaugeService.ts";
import gaugeService from "../services/gaugeService.ts";
import {DateService} from "../services/dateService.ts";
import Chart from 'chart.js/auto';
import {GeneralStats} from "../models/generalStats.ts";
import GeneralStatsService from "../services/generalStatsService.ts";
import VisitorService from "../services/visitorService.ts";
import {Visitor} from "../models/visitor.ts";
import TicketService from "../services/ticketService.ts";
import {DailyStats} from "../models/dailyStats.ts";
import {Bar} from 'vue-chartjs'
import {Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale} from 'chart.js'

let gauge = await gaugeService.getGauge();
let selectedGauge = ref(gauge.maxVisitors);
let generalStats: GeneralStats[] = await GeneralStatsService.getGeneralStats();
let dailyStats = await DailyStatsService.getDailyStats();
let visitors = await VisitorService.getVisitors();

let isChartFullscreen = ref(false);

let dailyStatsInGraph: DailyStats[] = [];
let chartsLabels: string[] = [];
let displayToast = ref(false);

let ticketsSoldAmount = [];
let chartData = {};

let dailyIncomesAmount = [];

let visitorsCountAmount = [];

let chartOptions = {
  responsive: true,
};

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

let cancelledTicketsAmount = ref(generalStats.find(generalStat => generalStat.category === 'CANCELLEDTICKETS')?.amount);
let notPaidTicketsAmount = ref(generalStats.find(generalStat => generalStat.category === 'NOTPAIDTICKETS')?.amount);

let visitorsVisitsAmount: Ref<number> = ref(0);
let selectedVisitor: Ref<Visitor> | Ref<string> = ref("Sélectionner visiteur");

let selectedDateRange: Ref<Date[]> | Ref<string> = ref("");

const toggleFullscreen = () => {
  isChartFullscreen.value = !isChartFullscreen.value;
}

watch(selectedVisitor, (newValue: Visitor | string, oldValue) => {
  if (typeof newValue === 'object') {
    getVisitorsVisitsAmount(newValue);
  }
})

watch(selectedDateRange, (newValue: { start: Date, end: Date } | string, oldValue) => {
  if (typeof newValue === 'object') {
    let startDate = newValue.start;
    let endDate = newValue.end;
    let dailyStatsDates = DateService.generateDateRange(startDate, endDate);
    dailyStatsInGraph = [];
    for (let date of dailyStatsDates) {
      let dailyStatFound = dailyStats.find(dailyStat => DateService.areSameDay(date, new Date(dailyStat.date)));
      if (dailyStatFound === undefined) {
        dailyStatsInGraph.push(new DailyStats(date, 0, 0, 0));
      } else {
        dailyStatsInGraph.push(dailyStatFound);
      }
    }

    chartsLabels = dailyStatsInGraph.map((dailyStat) => DateService.formatDateToFrench(new Date(dailyStat.date)));
    ticketsSoldAmount = dailyStatsInGraph.map((dailyStat) => dailyStat.ticketsSold);
    dailyIncomesAmount = dailyStatsInGraph.map((dailyStat) => dailyStat.income);
    visitorsCountAmount = dailyStatsInGraph.map((dailyStat) => dailyStat.visitorsCount);

    chartData = {
      labels: chartsLabels,
      datasets: [
        {
          label: 'Nombre de billets vendus',
          backgroundColor: '#c2abca',
          data: ticketsSoldAmount
        },
        {
          label: 'Recette',
          backgroundColor: '#f6cbd0',
          data: dailyIncomesAmount

        },
        {
          label: 'Nombre de visiteurs',
          backgroundColor: '#70acc7',
          data: visitorsCountAmount
        }

      ]
    }
  }
  setTimeout(() => {
    window.scrollTo({
      top: document.documentElement.scrollHeight,
      left: 0,
      behavior: "smooth"
    });
  }, 100);
});

async function getVisitorsVisitsAmount(newValue: Visitor) {
  visitorsVisitsAmount.value = await TicketService.getVisitorsVisitsAmount(await TicketService.getVisitorsTickets(newValue))
}

const setGaugeMin = () => {
  let min = 0;
  for (let dailyStat of dailyStats) {
    if (DateService.isDateInAYear(new Date(dailyStat.date)) && dailyStat.ticketsSold > min) {
      min = dailyStat.ticketsSold
    }
  }
  return min;
}
const setGauge = async () => {
  let gauge = new Gauge(selectedGauge.value);
  gauge = await GaugeService.setGauge(gauge);
  selectedGauge.value = gauge.maxVisitors;
  displayToast.value = true;
  setTimeout(() => {
    displayToast.value = false;
  }, 3000);
}

</script>

<template>
  <div :class="{'opacity-0': !displayToast}"
       class="toast toast-top animatedToast mr-3 flex justify-center items-center">
    <div class="alert alert-success flex gap-2 justify-evenly items-center">
      <span class="material-symbols-outlined">done</span>
      <span>Jauge mise à jour</span>
    </div>
  </div>
  <h1>Dashboard</h1>
  <div class="flex justify-between gap-10">
    <h3 class="m-0">Jauge :</h3>
    <div>
      <input type="range" v-model="selectedGauge" :min="setGaugeMin()" max="1000" class="range range-accent"
             step="1"/>
      <div class="w-80 flex justify-between text-xs px-2">
        <span v-for="step in 11">|</span>
      </div>
    </div>
    <div>
      {{ selectedGauge }}
    </div>
    <div>
      <button class="btn btn-accent w-10" @click="setGauge()">
        <span class="material-symbols-outlined icon">done</span>
      </button>
    </div>
  </div>
  <div class="flex items-center flex-col gap-5">
    <div class="flex gap-5">
      <div class="card w-96 bg-primary text-primary-content">
        <div class="card-body justify-between">
          <span class="text-start">Nombre de billets en attente de paiement</span>
          <span class="card-title justify-end text-3xl">{{ notPaidTicketsAmount }} ⏰</span>
        </div>
      </div>
      <div class="card w-96 bg-secondary text-primary-content">
        <div class="card-body justify-between">
          <span class="text-start">Nombre de billets annulés</span>
          <span class="card-title justify-end text-3xl">{{ cancelledTicketsAmount }} ❌</span>
        </div>
      </div>
    </div>
    <div class="card wideCard bg-neutral text-primary-content">
      <div class="card-body gap-5">
        <div class="flex justify-between items-start">
          <div class="">Nombre de visites d'un même visiteur</div>
          <div>
            <select v-model="selectedVisitor" class="select select-accent select-sm w-full max-w-xs">
              <option disabled selected>Sélectionner visiteur</option>
              <option v-for="visitor of visitors" :value="visitor">{{ visitor.firstName }} {{
                  visitor.lastName
                }}
              </option>
            </select>
          </div>
        </div>
        <div class="flex card-title justify-end text-3xl"><span
            v-if="typeof selectedVisitor === 'object'">{{ visitorsVisitsAmount }}</span> 🎢️
        </div>
      </div>
    </div>
    <div :class="{'fullscreen': isChartFullscreen}" class="card wideCard bg-accent text-primary-content">
      <button @click="toggleFullscreen()" class="btn btn-sm btn-neutral w-8 absolute right-0"><span
          class="material-symbols-outlined">fullscreen</span></button>
      <div class="card-body gap-5">
        <div class="flex justify-between">
          <div class="text-start">Statistiques par jour</div>
          <div class="boxEnd">
            <div :class="[isChartFullscreen ? 'dropdown-bottom' : 'dropdown-top']" class="dropdown  dropdown-end">
              <button tabindex="0" class="btn btn-neutral btn-sm" aria-label="Filter">Sélectionner date
              </button>
              <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box z-10">
                <VDatePicker v-model.range="selectedDateRange" :max-date="DateService.getYesterdayDate()"
                             dateFormat="dd/mm/yy" inputId="calendar" color="gray"/>
              </ul>
            </div>
          </div>
        </div>
        <div v-if="selectedDateRange!== ''" class="flex flex-wrap gap-5 justify-evenly">
          <Bar class="chart" id="ticketsSoldAmountChart" :options="chartOptions" :data="chartData"/>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.chart {
  width: 90% !important;
  height: 100% !important;
  margin: 0 !important;
}

.wideCard {
  width: 49.25rem;
  transition: all 0.5s ease-in-out;
}

.fullscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
</style>