<script setup lang="ts">
import {computed, inject, ref} from "vue";
import EmployeeService from "../services/employeeService.ts";
import employeeService from "../services/employeeService.ts";
import {Employee} from "../models/employee.ts";
import {Role} from "../models/role.ts";

let authenticatedUser = inject('authenticatedUser');

let employees = ref(await EmployeeService.getEmployees());

// Remove the director
employees.value = employees.value.filter(employee => employee.role !== Role.DIRECTOR);

const columns = authenticatedUser.value.role === 'DIRECTOR' ? ref(["Nom", "Prénom", "Mail", "Rôle", "Actions"])
    : ref(["Nom", "Prénom", "Mail", "Rôle"])
const columnsAttributes = authenticatedUser.value.role === 'DIRECTOR' ?
    ref(["lastName", "firstName", "mail", "roleDisplay", undefined]) : ref(["lastName", "firstName", "mail", "roleDisplay"])

let displayToast = ref(false);

let newEmployeeLastName = ref("");
let newEmployeeFirstName = ref("");
let newEmployeeMail = ref("");
let newEmployeeRoleDisplay = ref("Employé");

let searchQuery = ref("")
let sortAttribute = ref("lastName");
let sortOrder = ref(1);

const filteredEmployees = computed(() => {
  return employees.value
      .filter((employee) => {
        return employee.lastName.toLowerCase().includes(searchQuery.value.toLowerCase())
            || employee.firstName.toLowerCase().includes(searchQuery.value.toLowerCase())
            || employee.mail.toLowerCase().includes(searchQuery.value.toLowerCase())
            || employee.roleDisplay?.toLowerCase().includes(searchQuery.value.toLowerCase())
      })
      .sort((a, b) => {
        if (a[sortAttribute.value] < b[sortAttribute.value]) return -1 * sortOrder.value;
        if (a[sortAttribute.value] > b[sortAttribute.value]) return 1 * sortOrder.value;
        return 0;
      });

});

function setSort(attributeName: string | undefined) {
  if (attributeName !== undefined) {
    if (sortAttribute.value !== attributeName) {
      sortAttribute.value = attributeName;
    } else {
      sortOrder.value = sortOrder.value * -1;
    }
  }
}

function setSortIcon(attributeName: string) {
  switch (sortAttribute.value) {
    case attributeName:
      return sortOrder.value === 1 ? "expand_more" : "expand_less"
    default:
      return "";
  }
}

const switchRole = async (employee: Employee) => {
  employee.role = employee.role == Role.EMPLOYEE ? Role.ADMINISTRATOR : Role.EMPLOYEE;
  employee = await employeeService.switchRole(employee);
  employee.roleDisplay = employee.role == Role.EMPLOYEE ? "Employé" : "Administrateur";
  employees.value = employees.value.map(e => e.id === employee.id ? e = employee : e);
};

const deleteEmployee = async (employee: Employee) => {
  if (confirm("Souhaitez-vous réellement supprimer l'employé(e) " + employee.lastName + " " + employee.firstName + " ?")) {
    await employeeService.deleteEmployee(employee);
    employees.value = employees.value.filter(e => e.id !== employee.id);
  }
};

const isFormValid = () => {
  return newEmployeeLastName.value != "" && newEmployeeFirstName.value !== "" && newEmployeeMail.value !== ""
}

const createEmployee = async () => {
  let newEmployeeRole = newEmployeeRoleDisplay.value === 'Employé' ? Role.EMPLOYEE : Role.ADMINISTRATOR
  let employee = new Employee(newEmployeeLastName.value, newEmployeeFirstName.value, "123", newEmployeeMail.value
      , newEmployeeRole);
  const newEmployee = await employeeService.createEmployee(employee);
  newEmployee.roleDisplay = newEmployeeRoleDisplay.value;
  employees.value.push(newEmployee);
  newEmployeeLastName = ref("");
  newEmployeeFirstName = ref("");
  newEmployeeMail = ref("");
  newEmployeeRoleDisplay = ref("Employé");
  displayToast.value = true;
  setTimeout(() => {
    displayToast.value = false;
  }, 3000);
};
</script>

<template>
  <div :class="{'opacity-0': !displayToast, 'hidden': !displayToast}"
       class="toast toast-top animatedToast mr-3 flex justify-center items-center">
    <div class="alert alert-success flex gap-2 justify-evenly items-center">
      <span class="material-symbols-outlined">done</span>
      <span>Employé créé</span>
    </div>
  </div>
  <div class="flex justify-between items-center w-full">
    <div class="boxStart"></div>
    <h1>Employés</h1>
    <div class="boxEnd">
      <button v-if="authenticatedUser.role === 'DIRECTOR'" class="btn btn-accent btn-circle"
              onclick="createEmployeeModal.showModal()">
          <span class="material-symbols-outlined">
            add
          </span>
      </button>
      <dialog id="createEmployeeModal" class="modal">
        <form method="dialog" class="modal-box">
          <div class="flex flex-col gap-10"><h1>Créer Employé</h1>
            <div class="flex justify-between"><input v-model="newEmployeeLastName" type="text"
                                                     placeholder="Nom de famille"
                                                     class="input input-bordered input-lg"/>
              <input v-model="newEmployeeFirstName" type="text" placeholder="Prénom"
                     class="input input-bordered input-lg"/></div>
            <input v-model="newEmployeeMail" type="text" placeholder="Mail"
                   class="input input-bordered input-lg"/>
            <select v-model="newEmployeeRoleDisplay" class="select select-bordered select-lg">
              <option selected>Employé</option>
              <option>Administrateur</option>
            </select>
            <button class="btn btn-neutral" @click="createEmployee()" :disabled="!isFormValid()">Créer
            </button>
          </div>
        </form>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </div>
  </div>
  <input v-model="searchQuery" type="text" placeholder="Rechercher"
         class="input input-bordered input-accent input-sm w-full max-w-xs"/>
  <div class="overflow-x-auto">
    <table class="table table-zebra table-lg  table-pin-rows">
      <!-- head -->
      <thead>
      <tr>
        <th @click="setSort(columnsAttributes[index])"
            :class="{'cursor-pointer' : columnsAttributes[index] !== undefined}" v-for="(col, index) of columns">
          {{ col }}
          <span class="align-middle"><span class="material-symbols-outlined">
            {{ setSortIcon(columnsAttributes[index]) }}
          </span></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(employee) of filteredEmployees">
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.mail }}</td>
        <td class="flex justify-center"><span
            :class="[employee.role === Role.EMPLOYEE ? 'bg-secondary' : 'bg-primary']"
            class="p-3 rounded-full w-48">{{
            employee.roleDisplay
          }}</span></td>
        <td v-if="authenticatedUser.role === 'DIRECTOR'">
          <div class="flex gap-3">
            <button class="btn btn-neutral  btn-circle">
              <span class="material-symbols-outlined" @click="switchRole(employee)">switch_account</span>
            </button>
            <button class="btn btn-secondary  btn-circle" @click="deleteEmployee(employee)">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>