<script setup lang="ts">
import {faker} from '@faker-js/faker';
import {ref} from 'vue';
import AttractionService from "../services/attractionService.ts";
import EmployeeService from "../services/employeeService.ts";
import ticketService from "../services/ticketService.ts";
import VisitorService from "../services/visitorService.ts";
import {Ticket} from "../models/ticket.ts";
import {Attraction} from "../models/attraction.ts";
import {Employee} from "../models/employee.ts";
import {Role} from "../models/role.ts";
import visitorService from "../services/visitorService.ts";
import {TicketState} from "../models/ticketState.ts";
import {Visitor} from "../models/visitor.ts";

const selectedDataType = ref("Sélectionner type de données");
var selectedQuantity = ref();
const dataTypes = ref([
  {name: "Attractions"},
  {name: "Employés"},
  {name: "Tickets"},
  {name: "Visiteurs"}
])
let roles = Object.values(Role) as Role[]
let ticketStates = Object.values(TicketState) as TicketState[]
let isGenerating = ref(false);

// Withdrawing the DIRECTOR role since we do not want to generate one
roles.pop()

let displayToast = ref(false);
let attractions = await AttractionService.getAttractions();
let visitors = await visitorService.getVisitors();

const generateRandomDateThisYear = () => {
  const currentYear = new Date().getFullYear();

  const startOfYear = new Date(currentYear, 0, 1);
  const endOfYear = new Date(currentYear, 11, 31);

  return new Date(faker.date.between({from: startOfYear, to: endOfYear}));
}

const isInteger = (n: any) => {
  return !isNaN(parseInt(n)) && isFinite(n) && Number(n) === parseInt(n) && Number(n) > 0;
}


const isFormValid = () => {
  return selectedQuantity.value == undefined || selectedDataType.value === "Sélectionner type de données"
      || !isInteger(selectedQuantity.value);
}

const generateFakePerson = () => {
  let firstName = faker.person.firstName()
  let lastName = faker.person.lastName()
  let mail = faker.internet.email({firstName, lastName})
  return {
    lastName: lastName,
    firstName: firstName,
    mail: mail
  }
}

const generateData = async () => {
  isGenerating.value = true;
  switch (selectedDataType.value) {
    case "Attractions": {
      for (let i = 0; i < selectedQuantity.value; i++) {
        let nameSuffix = attractions.length + i;
        let name = "Attraction " + nameSuffix;
        let isOpened = faker.datatype.boolean();
        let attraction = new Attraction(name, isOpened);
        await AttractionService.createAttraction(attraction);
      }
      attractions = await AttractionService.getAttractions();
      break;
    }
    case "Employés": {
      for (let i = 0; i < selectedQuantity.value; i++) {
        let fakePerson = generateFakePerson();
        let role = faker.helpers.arrayElement(roles)
        let employee = new Employee(fakePerson.lastName, fakePerson.firstName, "123", fakePerson.mail, role);
        await EmployeeService.createEmployee(employee);
      }
      break;
    }
    case "Tickets": {
      let tickets = []
      for (let i = 0; i < selectedQuantity.value; i++)   {
        let visitDate = generateRandomDateThisYear();
        let price = faker.number.int({min: 10, max: 100})
        let ticketState = faker.helpers.arrayElement(ticketStates)
        let visitor = faker.helpers.arrayElement(visitors);
        tickets.push(new Ticket(visitDate, price, ticketState, visitor));
      }
      await ticketService.generateTickets(tickets)
      break;
    }
    case "Visiteurs": {
      for (let i = 0; i < selectedQuantity.value; i++) {
        let fakePerson = generateFakePerson();
        let visitor = new Visitor(fakePerson.lastName, fakePerson.firstName, "123", fakePerson.mail);
        await VisitorService.createVisitor(visitor);
      }
      visitors = await visitorService.getVisitors();
      break;
    }
  }
  isGenerating.value = false;
  displayToast.value = true;
  setTimeout(() => {
    displayToast.value = false;
  }, 3000);

}
</script>

<template>
  <h1 class="title">Generateur de données</h1>
  <div :class="{'opacity-0': !displayToast}"
       class="toast toast-top animatedToast mr-3 flex justify-center items-center">
    <div class="alert alert-success flex gap-2 justify-evenly items-center">
      <span class="material-symbols-outlined">done</span>
      <span>Données générées</span>
    </div>
  </div>
  <div class="flex flex-row gap-10 items-center">
    <div class="flex flex-col">
      <select v-model="selectedDataType" class="select select-bordered w-52">
        <option disabled selected>Sélectionner type de données</option>
        <option v-for="dataType of dataTypes">{{ dataType.name }}</option>
      </select>
    </div>
    <div class="flex flex-col">
      <input type="text" v-model="selectedQuantity" placeholder="Sélectionner quantité"
             class="input input-bordered w-44"/>
    </div>
  </div>
  <div class="flex gap-5 justify-between">
    <div class="boxStart">
      <span class="loading loading-spinner loading-lg text-neutral invisible"></span>
    </div>
    <div>
      <button class="btn btn-neutral" @click="generateData()" :disabled="isFormValid() || isGenerating"
      >Générer
      </button>
    </div>
    <div class="boxEnd">
      <span :class="{'invisible' : !isGenerating}" class="loading loading-spinner loading-lg text-neutral"></span>
    </div>
  </div>
</template>

<style scoped>
.animatedToast {
  transition: opacity 0.5s;
}
</style>