<script setup lang="ts">
import visitorService from "../services/visitorService.ts";
import {LoginForm} from "../models/loginForm.ts";
import {Ref, ref, toRaw} from "vue";
import authenticationService from "../services/AuthenticationService.ts";
import {useRouter} from "vue-router";
import {LoginToken} from "../models/loginToken.ts";
import {$} from "vue/macros";
import {Visitor} from "../models/visitor.ts";
import {SignUpForm} from "../models/SignUpForm.ts";
import VisitorService from "../services/visitorService.ts";
import {fa} from "@faker-js/faker";
import EmployeeService from "../services/employeeService.ts";
import DataLoaderService from "../services/DataLoaderService.ts";

const router = useRouter();

let loginForm = ref(new LoginForm());

let signUpForm: Ref<SignUpForm> = ref(new SignUpForm())
let isSigningUp = ref(false);

let selectedPortal = ref("");

let didLoginFailed = ref(false);

let displayToast = ref(false);
let visitors = await VisitorService.getVisitors();
if (visitors.length === 0) {
  await DataLoaderService.firstRun();
  visitors = await VisitorService.getVisitors();
}
let employees = await EmployeeService.getEmployees();

let users = visitors.concat(employees);

function checkIfMailAlreadyExists(formMail: string) {
  return users.some(user => user["mail"] === formMail);
}

async function login() {
  let loggedInUser;
  let pushedRoute = '';
  if (selectedPortal.value === 'employee') {
    loggedInUser = await authenticationService.loginEmployee(loginForm.value);
    pushedRoute = '/tickets';
  } else {
    loggedInUser = await authenticationService.loginVisitor(loginForm.value);
    pushedRoute = '/tickets';
  }
  didLoginFailed.value = !loggedInUser;
  if (!didLoginFailed.value) {
    let userValue = authenticationService.getAuthenticatedUser().value;
    if (userValue && userValue.id !== undefined) {
      let token = new LoginToken(userValue.id, authenticationService.isAuthenticatedUserEmployee());
      localStorage.setItem("MiageLand", JSON.stringify(token));
      await router.push(pushedRoute);
    }
  }
  return loggedInUser;
}

async function setSignUp(value: boolean) {
  isSigningUp.value = value;
}

async function signUp() {
  let signUpFormValue = signUpForm.value;
  let newVisitor = new Visitor(signUpFormValue.lastName, signUpFormValue.firstName, signUpFormValue.password
      , signUpFormValue.mail)
  await VisitorService.createVisitor(newVisitor);
  setSignUp(false);
  displayToast.value = true;
  setTimeout(() => {
    displayToast.value = false;
  }, 3000);
}

function setPortal(portal: string) {
  loginForm.value = new LoginForm();
  selectedPortal.value = portal;
  didLoginFailed.value = false;
}

function isLoginFormValid() {
  return loginForm.value.mail !== "" && loginForm.value.password !== '';
}

function isSignUpFormValid() {
  return signUpForm.value.mail !== "" && signUpForm.value.password !== '' && signUpForm.value.firstName !== ''
      && signUpForm.value.lastName !== '' && !checkIfMailAlreadyExists(signUpForm.value.mail);
}

</script>

<template>
  <div class="flex flex-row items-center gap-5 mt-5"><img src="../assets/logo.png" alt="Miage" class="logo">
    <div class="logoText text-6xl">Miage Land</div>
  </div>
  <div :class="{'opacity-0': !displayToast}"
       class="toast toast-top animatedToast mr-3 flex justify-center items-center">
    <div class="alert alert-success flex gap-2 justify-evenly items-center">
      <span class="material-symbols-outlined">done</span>
      <span>Bravo, vous êtes bien inscrit</span>
    </div>
  </div>
  <div :class="{'opacity-0': !checkIfMailAlreadyExists(signUpForm.mail)}"
       class="toast toast-top animatedToast mr-3 flex justify-center items-center">
    <div class="alert alert-error flex gap-2 justify-evenly items-center">
      <span class="material-symbols-outlined">error</span>
      <span>Cette adresse mail existe déjà</span>
    </div>
  </div>
  <h1 v-if="selectedPortal === ''">Connexion</h1>
  <div v-if="selectedPortal === ''" class="flex flex-col w-9/12 lg:flex-row">
    <button @click="setPortal('visitor')"
            class="btn btn-primary grid flex-grow h-32 card rounded-box place-items-center">Visiteur
    </button>
    <div class="divider lg:divider-horizontal"></div>
    <button @click="setPortal('employee')"
            class="btn btn-secondary grid flex-grow h-32 card rounded-box place-items-center">Employé
    </button>
  </div>
  <div v-if="selectedPortal !== ''" class="flex flex-col items-center gap-5">
    <h3>{{ selectedPortal === 'employee' ? 'Employés' : 'Visiteurs' }}</h3>
    <input v-if="!isSigningUp" v-model="loginForm.mail" type="text" placeholder="Mail"
           class="input input-bordered input-accent w-full max-w-xs"/>
    <input v-if="!isSigningUp" v-model="loginForm.password" type="password" placeholder="Mot de passe"
           class="input input-bordered input-accent w-full max-w-xs"/>
    <div v-if="!isSigningUp" class="flex flex-row justify-between w-full items-center gap-5">
      <button @click="setPortal('')"
              :class="{'btn-primary': selectedPortal === 'visitor', 'btn-secondary': selectedPortal === 'employee'}"
              class="btn w-12"><span class="material-symbols-outlined">arrow_back</span></button>
      <button @click="login()" :disabled="!isLoginFormValid()" class="btn btn-accent w-9/12">Connexion</button>
    </div>
    <button v-if="selectedPortal === 'visitor' && !isSigningUp" @click="setSignUp(true)" class="btn btn-neutral">
      S'inscrire
    </button>

    <input v-if="isSigningUp" v-model="signUpForm.lastName" type="text" placeholder="Nom de famille"
           class="input input-bordered input-accent w-full max-w-xs"/>
    <input v-if="isSigningUp" v-model="signUpForm.firstName" type="text" placeholder="Prénom"
           class="input input-bordered input-accent w-full max-w-xs"/>
    <input v-if="isSigningUp" v-model="signUpForm.mail" type="text" placeholder="Adresse mail"
           class="input input-bordered input-accent w-full max-w-xs"/>
    <input v-if="isSigningUp" v-model="signUpForm.password" type="password" placeholder="Mot de passe"
           class="input input-bordered input-accent w-full max-w-xs"/>
    <div v-if="isSigningUp" class="flex flex-row justify-between w-full gap-5 items-center">
      <button @click="setSignUp(false)"
              :class="{'btn-primary': selectedPortal === 'visitor', 'btn-secondary': selectedPortal === 'employee'}"
              class="btn w-12"><span class="material-symbols-outlined">arrow_back</span></button>
      <button :disabled="!isSignUpFormValid()" @click="signUp()" class="btn btn-secondary w-9/12">
        Valider
      </button>
    </div>
  </div>
  <div v-if="didLoginFailed" class="alert alert-error w-56">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <span>Identifiants incorrects</span>
  </div>
</template>


<style scoped>

</style>