<script setup lang="ts">
import {inject, onMounted, ref, Ref, toRaw, watch} from "vue";
import {Visitor} from "../models/visitor.ts";
import TicketService from "../services/ticketService.ts";
import {Ticket} from "../models/ticket.ts";
import {TicketState} from "../models/ticketState.ts";
import {DateService} from "../services/dateService.ts";
import authenticationService from "../services/AuthenticationService.ts";
import {computed} from "vue";
import {log} from "util";

const authenticatedUser = ref(inject('authenticatedUser'));
let authenticatedVisitor;
let visitorsTickets = ref<Ticket[]>([]);

const fetchTickets = async () => {
  authenticatedVisitor = toRaw(authenticatedUser.value)
  visitorsTickets.value = await TicketService.getVisitorsTickets(authenticatedVisitor);
  visitorsTickets.value = visitorsTickets.value.sort((a: Ticket, b: Ticket) =>
      new Date(b.visitDate) - new Date(a.visitDate))
}

onMounted(fetchTickets);


const payTicket = async (ticket: Ticket) => {
  ticket.state = TicketState.PAID;
  const updatedTicket = await TicketService.updateTicket(ticket);
  // Update the value of the ticket in the array based on the ticket ID
  visitorsTickets.value = visitorsTickets.value.map(t => t.ticketNumber === updatedTicket.ticketNumber ? updatedTicket : t);
}

const cancelTicket = async (ticket: Ticket) => {
  ticket.state = TicketState.CANCELLED;
  const updatedTicket = await TicketService.updateTicket(ticket);
  // Update the value of the ticket in the array based on the ticket ID
  visitorsTickets.value = visitorsTickets.value.map(t => t.ticketNumber === updatedTicket.ticketNumber ? updatedTicket : t);
}

const setImpossiblePaymentMessage = (ticket: Ticket): string => {
  switch (ticket.state) {
    case TicketState.USED:
      return "Le ticket a déjà été utilisé"
    case TicketState.PAID:
      return "Le ticket a déjà été payé"
    case TicketState.notPAID:
      return "Payer le ticket"
    case TicketState.CANCELLED:
      return "Le ticket a été annulé"
  }
}

const setImpossibleCancellationMessage = (ticket: Ticket): string => {
  if (DateService.isDateInNextWeek(new Date(ticket.visitDate))) {
    return "L'annulation n'est pas possible car la date de visite est dans moins de 7 jours"
  } else if (DateService.isDateInPast(new Date(ticket.visitDate))) {
    return "L'annulation n'est pas possible car la date de visite est passée";
  } else {
    return "Annuler le ticket";
  }
}


const columns = ["Date de visite", "Prix", "État", "Actions"];
const columnsAttributes = ["visitDate", "price", "stateDisplay", undefined];

const setStateColor = (ticketState: TicketState) => {
  let className;
  switch (ticketState) {
    case TicketState.CANCELLED:
      className = 'bg-primary';
      break;

    case TicketState.notPAID:
      className = 'bg-secondary';
      break;

    case TicketState.PAID:
      className = 'bg-accent';
      break;

    case TicketState.USED:
      className = 'bg-neutral';
      break;
  }
  return className;
}

let searchQuery = ref("")
let sortAttribute = ref("name");
let sortOrder = ref(1);

const filteredVisitorsTickets = computed(() => {
  return visitorsTickets.value
      .filter((ticket) => {
        return ticket.visitDateDisplay?.toLowerCase().includes(searchQuery.value.toLowerCase())
            || ticket.price.toString().toLowerCase().includes(searchQuery.value.toLowerCase())
            || ticket.stateDisplay?.toLowerCase().includes(searchQuery.value.toLowerCase())
      })
      .sort((a, b) => {
        if (sortAttribute.value !== 'visitDate') {
          if (a[sortAttribute.value] < b[sortAttribute.value]) return -1 * sortOrder.value;
          if (a[sortAttribute.value] > b[sortAttribute.value]) return 1 * sortOrder.value;

        } else {
          if (new Date(a[sortAttribute.value]) < new Date(b[sortAttribute.value])) return -1 * sortOrder.value;
          if (new Date(a[sortAttribute.value]) > new Date(b[sortAttribute.value])) return 1 * sortOrder.value;
        }
        return 0;
      });

});

function setSort(attributeName: string | undefined) {
  if (attributeName !== undefined) {
    if (sortAttribute.value !== attributeName) {
      sortAttribute.value = attributeName;
    } else {
      sortOrder.value = sortOrder.value * -1;
    }
  }
}

function setSortIcon(attributeName: string) {
  switch (sortAttribute.value) {
    case attributeName:
      return sortOrder.value === 1 ? "expand_more" : "expand_less"
    default:
      return "";
  }
}
</script>

<template>
  <div><h1>Mes tickets</h1></div>
  <input v-model="searchQuery" type="text" placeholder="Rechercher"
         class="input input-bordered input-accent input-sm w-full max-w-xs"/>
  <div class="overflow-x-auto">
    <table class="table table-zebra table-lg table-pin-rows">
      <!-- head -->
      <thead>
      <tr>
        <th @click="setSort(columnsAttributes[index])"
            :class="{'cursor-pointer' : columnsAttributes[index] !== undefined}" v-for="(col, index) of columns">
          {{ col }}
          <span class="align-middle"><span class="material-symbols-outlined">
            {{ setSortIcon(columnsAttributes[index]) }}
          </span></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(ticket) of filteredVisitorsTickets">
        <td>{{ ticket.visitDateDisplay }}</td>
        <td>{{ ticket.price }} €</td>
        <td class="flex justify-center"><span :class="setStateColor(ticket.state)" class="p-3 rounded-full w-48">{{
            ticket.stateDisplay
          }}</span></td>
        <td>
          <div class="flex gap-2 justify-center">
            <div class="tooltip tooltip-left tooltip-info" :data-tip="setImpossiblePaymentMessage(ticket)">
              <button @click="payTicket(ticket)"
                      :disabled="ticket.state !== TicketState.notPAID || !DateService.isSameDayOrAfter(new Date(ticket.visitDate), new Date())"
                      class="btn btn-accent">Payer
              </button>
            </div>
            <div class="tooltip tooltip-left tooltip-info" :data-tip="setImpossibleCancellationMessage(ticket)">
              <button @click="cancelTicket(ticket)"
                      :disabled="DateService.isDateInNextWeekOrPast(new Date(ticket.visitDate))"
                      class="btn btn-primary" v-if="ticket.state !== TicketState.CANCELLED
                    && ticket.state !== TicketState.USED">Annuler
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>