<script setup lang="ts">
import {Ticket} from "../models/ticket.ts";
import {inject, onMounted, Ref, ref, toRaw, watch} from "vue";
import {DailyStats} from "../models/dailyStats.ts";
import DailyStatsService from "../services/dailyStatsService.ts";
import {DateService} from "../services/dateService.ts";
import {TicketState} from "../models/ticketState.ts";
import {Gauge} from "../models/gauge.ts";
import GaugeService from "../services/gaugeService.ts";
import TicketService from "../services/ticketService.ts";
import ticketService from "../services/ticketService.ts";
import authenticationService from "../services/AuthenticationService.ts";
import {computed} from "vue";

const authenticatedUser = inject('authenticatedUser');
let authenticatedVisitor = toRaw(authenticatedUser.value);

let displayToast = ref(false);

let dailyStats: DailyStats[] = await DailyStatsService.getDailyStats();

let gauge: Gauge = await GaugeService.getGauge();

const oneYearFromNow = new Date();
oneYearFromNow.setFullYear(oneYearFromNow.getFullYear() + 1);

const selectedDate = ref();
const selectedQuantity = ref();
const availableQuantity = ref();
const price = ref(10);

watch(selectedDate, (newDate: Date, oldDate: Date) => {
  newDate = newDate === null ? oldDate : newDate;
  updateAvailableQuantity(newDate)
});
const updateAvailableQuantity = (date: Date) => {
  let selectedDateString = DateService.convertDateToString(date);
  let dailyStat = dailyStats.find(dailyStat => dailyStat.date === selectedDateString);
  availableQuantity.value = dailyStat === undefined ? gauge.maxVisitors : gauge.maxVisitors - dailyStat.visitorsCount;
}

const isInteger = (n: any) => {
  return !isNaN(parseInt(n)) && isFinite(n) && Number(n) === parseInt(n) && Number(n) > 0;
}

const isFormValid = () => {
  return selectedDate.value !== undefined && isInteger(selectedQuantity.value) && availableQuantity.value > 0
      && selectedQuantity.value <= availableQuantity.value;
}

const validateTicket = async (ticket: Ticket, state: TicketState) => {
  ticket.state = state;
  ticket = await TicketService.updateTicket(ticket);
  tickets.value = tickets.value.filter(t => t.ticketNumber !== ticket.ticketNumber);
}

const bookTickets = async () => {
  let tickets = [];
  for (let i = 0; i < selectedQuantity.value; i++) {
    tickets.push(new Ticket(DateService.convertToUTC(selectedDate.value), price.value, TicketState.notPAID, authenticatedVisitor));
  }
  await TicketService.createTickets(tickets);
  dailyStats = await DailyStatsService.getDailyStats();
  updateAvailableQuantity(selectedDate.value);
  displayToast.value = true;
  setTimeout(() => {
    displayToast.value = false;
  }, 3000);
}

let columns;
let columnsAttributes;
let tickets: Ref<Ticket[]> = ref(await ticketService.getTickets());
let searchQuery = ref("")
let sortAttribute: Ref<string | Date> = ref("stateDisplay");
let sortOrder = ref(1);

const filteredTickets = computed(() => {
  return tickets.value
      .filter((ticket) => {
        return ticket.visitDateDisplay?.toLowerCase().includes(searchQuery.value.toLowerCase())
            || ticket.visitor?.lastName.toLowerCase().includes(searchQuery.value.toLowerCase())
            || ticket.visitor?.firstName.toLowerCase().includes(searchQuery.value.toLowerCase())
            || ticket.stateDisplay?.toLowerCase().includes(searchQuery.value.toLowerCase())
      })
      .sort((a, b) => {
        if (new Date(a[sortAttribute.value]) < new Date(b[sortAttribute.value])) return -1 * sortOrder.value;
        if (new Date(a[sortAttribute.value]) > new Date(b[sortAttribute.value])) return 1 * sortOrder.value;
        return 0;
      });
});

function setSort(attributeName: string | Date | undefined) {
  if (attributeName !== undefined) {
    if (sortAttribute.value !== attributeName) {
      sortAttribute.value = attributeName;
    } else {
      sortOrder.value = sortOrder.value * -1;
    }
  }
}

function setSortIcon(attributeName: string) {
  switch (sortAttribute.value) {
    case attributeName:
      return sortOrder.value === 1 ? "expand_more" : "expand_less"
    default:
      return "";
  }
}

if (authenticationService.isAuthenticatedUserEmployee()) {
  tickets.value = tickets.value.filter(ticket => ticket.state === 'PAID' && DateService.areSameDay(new Date(), new Date(ticket.visitDate)));
  columns = ["Date de visite", "Visiteur", "État", "Validation"];
  columnsAttributes = ["visitDate", undefined, undefined, undefined];
}
</script>

<template>
  <div><h1>Tickets</h1></div>
  <div v-if="!authenticationService.isAuthenticatedUserEmployee()">
    <div :class="{'opacity-0': !displayToast}"
         class="toast toast-top animatedToast mr-3 flex justify-center items-center">
      <div class="alert alert-success flex gap-2 justify-evenly items-center">
        <span class="material-symbols-outlined">done</span>
        <span>Ticket(s) acheté(s)</span>
      </div>
    </div>
    <div class="card w-96  bg-neutral">
      <div class="dropdown dropdown-right text-end">
        <button tabindex="0" class="btn btn-accent btn-sm" aria-label="Filter">Sélectionner date
        </button>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box z-10">
          <VDatePicker v-model="selectedDate" :min-date="new Date()" :max-date="oneYearFromNow" dateFormat="dd/mm/yy"
                       color="gray"/>
        </ul>
      </div>
      <div class="card-body">
        <h2 class="card-title justify-start">Prix : <span v-if="selectedDate !== undefined">{{ price }}</span>
          <span v-if="selectedDate !== undefined" class="text-4xl">💶</span></h2>
        <h2 class="card-title justify-start">Quantité restante : {{ availableQuantity }}
          <span v-if="selectedDate !== undefined" class="text-4xl">👨‍👩‍👧‍</span>
        </h2>
        <div class="flex items-center gap-5">
          <input v-model="selectedQuantity" type="text" placeholder="Quantité" class="input input-accent w-full"/>
          <button class="btn btn-accent" @click="bookTickets()" :disabled="!isFormValid()">
            <span class="material-symbols-outlined">shopping_cart</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="flex justify-center mb-2"><input v-model="searchQuery" type="text" placeholder="Rechercher"
                                                 class="input input-bordered input-accent input-sm w-full max-w-xs"/>
    </div>
    <div class="overflow-x-auto">
      <table class="table table-zebra table-lg table-pin-rows">
        <thead>
        <tr>
          <th @click="setSort(columnsAttributes[index])"
              :class="{'cursor-pointer' : columnsAttributes[index] !== undefined}" v-for="(col, index) of columns">
            {{ col }}
            <span class="align-middle"><span class="material-symbols-outlined">
            {{ setSortIcon(columnsAttributes[index]) }}
          </span></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(ticket, index) of filteredTickets">
          <td>{{ ticket.visitDateDisplay }}</td>
          <td>{{ ticket.visitor.lastName + " " + ticket.visitor.firstName }}</td>
          <td class="flex justify-center"><span class="p-3 rounded-full w-48 bg-accent">{{ ticket.stateDisplay }}</span>
          </td>
          <td>
            <div class="flex gap-2 justify-center">
              <button
                      @click="validateTicket(ticket, TicketState.USED)" class="btn btn-neutral">Valider
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style scoped>
</style>