<script setup lang="ts">
import {useRoute} from "vue-router";
import {onMounted, provide, ref, watch} from "vue";
import VisitorService from "./services/visitorService.ts";
import {Visitor} from "./models/visitor.ts";
import authenticationService from "./services/AuthenticationService.ts";
import router from "./router.ts";


let route = useRoute();
let selectedMenu = route.name;

let authenticatedUser = authenticationService.getAuthenticatedUser();


provide('authenticatedUser', authenticatedUser);


const isButtonSelected = (buttonName: string) => {
  return buttonName === selectedMenu;
};

onMounted(() => {
  return watch(
      () => route.fullPath,
      async (newPath) => {
        selectedMenu = newPath;
      }
  )
})
</script>


<template>
    <div v-if="authenticatedUser !== null" class="vertical-toolbar">
      <div class="flex flex-col items-center gap-4">
        <img src="./assets/logo.png" alt="Miage" class="logo">
        <div class="logoText">Miage Land</div>
        <router-link v-if="'role' in authenticatedUser && authenticatedUser.role === 'DIRECTOR'" to="/dashboard">
          <button class="btn button" :class="[isButtonSelected('/dashboard') ? 'btn-accent' : 'btn-neutral']"
                  aria-label="Filter"><span
              class="material-symbols-outlined icon">bar_chart</span>
          </button>
        </router-link>
        <router-link to="/tickets">
          <button class="btn button" :class="[isButtonSelected('/tickets') ? 'btn-accent' : 'btn-neutral']"
                  aria-label="Filter"><span
              class="material-symbols-outlined icon">local_activity</span>
          </button>
        </router-link>
        <router-link v-if="authenticationService.isAuthenticatedUserEmployee()" to="/employees">
          <button class="btn button" :class="[isButtonSelected('/employees') ? 'btn-accent' : 'btn-neutral']"
                  aria-label="Filter"><span
              class="material-symbols-outlined icon">badge</span></button>
        </router-link>
        <router-link v-if="authenticationService.isAuthenticatedUserEmployee()" to="/attractions">
          <button class="btn button" :class="[isButtonSelected('/attractions') ? 'btn-accent' : 'btn-neutral']"
                  aria-label="Filter"><span
              class="material-symbols-outlined icon">attractions</span></button>
        </router-link>
        <router-link v-if="authenticationService.isAuthenticatedUserEmployee()" to="/generator">
          <button class="btn button" :class="[isButtonSelected('/generator') ? 'btn-accent' : 'btn-neutral']"
                  aria-label="Filter"><span
              class="material-symbols-outlined icon">database</span></button>
        </router-link>
        <router-link v-if="!authenticationService.isAuthenticatedUserEmployee()" to="/mytickets">
          <button class="btn button" :class="[isButtonSelected('/mytickets') ? 'btn-accent' : 'btn-neutral']"
                  aria-label="Filter"><span
              class="material-symbols-outlined icon">account_circle</span></button>
        </router-link>
        <router-link to="/login">
          <button @click="authenticationService.logout()" class="btn button btn-neutral" aria-label="Filter"><span
              class="material-symbols-outlined icon">logout</span></button>
        </router-link>
      </div>
    </div>
  <div class="flex justify-center w-full">
    <div :class="{'loggedInView' : authenticatedUser !== null}" class="flex w-full view">
      <Suspense>
        <router-view></router-view>
      </Suspense>
    </div>
  </div>
</template>


<style>

.vertical-toolbar {
  position: fixed;
  background-color: #eaeaea;
  display: flex;
  flex-shrink: 0;
  border: 0.625rem;
  flex-direction: column;
  justify-content: space-between;
  width: 10.5rem;
  height: 100%;
  overflow: auto;
}

.icon {
  font-size: 2.25rem;
}

.bottom-toolbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.625rem;
}

.button {
  width: 9rem;
  height: 4rem !important;
  justify-content: center;
}

.logo {
  width: 7rem;
}

.logoText {
  font-family: 'Amatic SC', cursive;
  font-size: 2.25rem;
}

</style>
