@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Tsukimi Rounded', cursive;
    text-transform: none !important;
}

html, body, #app {
    font-family: 'Tsukimi Rounded', cursive;
    font-weight: 600;
    margin: 0;
    height: 100%;
}

.animatedToast {
  transition: opacity 0.5s;
}

.noLinkStyle {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.313rem;
    width: 7rem;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Tsukimi Rounded', cursive;
    font-weight: 600;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Tsukimi Rounded', cursive;
    font-weight: 600;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Tsukimi Rounded', cursive;
    font-weight: 600;
}

td {
    text-align: center;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    width: 83.333333%;
    height: 100vh;
}

.loggedInView {
    padding-left: 10.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.formLabel {
    font-weight: bold;

}

.boxStart {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.boxEnd {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
